.card_wrapper {
    margin-left: 10px;
    border: 1px;
    overflow: hidden; /* will contain if #first is longer than #second */
}

.card_flag {
    float:left; /* add this */
    border: 1px;
}

.card_country_name {
    padding: 5px 0px 0px 10px;
    border: 1px;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

table th {
    text-align: left;
    color : rgb(162, 162, 162);
}

.confirmed {
    color: red;
}

.death {
    color: purple
}

.active {
    color: orange;
}

.recovered {
    color : green;
}